<div class="container">
  <form [formGroup]="resultatFormGroup" novalidate>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="resultat">Resultat:</label>
          <input type="number" formControlName="resultatEntree" placeholder="Entrez un résultat" class="form-control" id="">
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="chercherSolution()">Rechercher</button>
    </div>
    <p *ngIf="resultats">Les 10 premières solutions pour le résultat {{resultatFormGroup.get('resultatEntree').value}} de l'algorithme : </p>
    <table *ngIf="resultats" class="table table-hover">
      <thead>
        <tr>
          <th>Résultat</th>
          <th>X1</th>
          <th>X2</th>
          <th>X3</th>

          <th>X4</th>
          <th>X5</th>
          <th>X6</th>

          <th>X7</th>
          <th>X8</th>
          <th>X9</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resultat of resultats">
          <td>{{resultat.resultat}}</td>
          <td>
            <input type="number" value="{{resultat.inconnue1}}" formControlName="inconnue1" class="form-control" id="inconnue">
          </td>
          <td>
            <input type="number"  value="{{resultat.inconnue2}}" formControlName="inconnue2" class="form-control" id="inconnue1">
          </td>
          <td>
            <input type="number" value="{{resultat.inconnue3}}" formControlName="inconnue3" class="form-control" id="inconnue2">
          </td>
          <td>
            <input type="number"  value="{{resultat.inconnue4}}" formControlName="inconnue4" class="form-control" id="inconnue3">
          </td>
          <td>
            <input type="number"  value="{{resultat.inconnue5}}"  formControlName="inconnue5" class="form-control" id="inconnue4">
          </td>
          <td>
            <input type="number"  value="{{resultat.inconnue6}}" formControlName="inconnue6" class="form-control" id="inconnue5">
          </td>
          <td>
            <input type="number"  value="{{resultat.inconnue7}}" formControlName="inconnue7" class="form-control" id="inconnue6">
          </td>
          <td>
            <input type="number"  value="{{resultat.inconnue8}}" formControlName="inconnue8" class="form-control" id="inconnue7">
          </td>
          <td>
            <input type="number"  value="{{resultat.inconnue9}}" formControlName="inconnue9" class="form-control" id="inconnue8">
          </td>
          <td>
            <button type="button" class="btn btn-primary" (click)="modifierResultat(resultat)">Modifier</button>
            <button type="button" class="btn btn-alert" (click)="supprimerResultat(resultat)">Supprimer</button>
          </td>
        </tr>
    </table>
  </form>
</div>